* {
  text-align: center;
}

h1,
h2,
h3,
h4,
button,
footer p,
.message,
.message2 {
  font-family: 'Bowlby One SC', cursive;
}

h1 {
  font-size: 300%;
}

h3 {
  font-size: 200%;
}

h4 {
  font-size: 150%;
}

header,
footer p {
  color: gold;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

header {
  border-bottom: 1px solid black;
}

footer p {
  height: 60px;
  width: 100%;
  overflow:hidden;
  border-top: 1px solid black;
  padding-top: 15px;
}

body {
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

button {
  padding: 15px;
  background-color: gold;
  color: black;
  font-size: 125%;
}

button:hover{
  border: 4px solid black;
  padding: 13px;
}

button:active{
  border: 8px solid red;
  background-color: darkred;
  padding: 9px;
}

.characters {
  display: inline-block;
  width: 130px;
  height: 180px;
  border: 2px solid black;
  margin: 5px;
  background-color: white;
}

.characters:hover {
  border-width: 4px;
  margin: 3px;
  border-color: gold;
}

.activity {
  padding: 2%;
  -webkit-transition: background-color .5s ease;
  -moz-transition: background-color .5s ease;
  -o-transition: background-color .5s ease;
  transition: background-color .5s ease;
}
.activity:hover {
  background-color: rgba(255,255,255,0.15);
}

.wrapper {
  padding-left: 5%; 
  padding-right: 5%;
}

.section-title,
.message,
.message2,
button {
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.name, 
.stats {
  font-weight: bold;
}

.name{
  border-bottom: 1px solid gold;
}

.stats{
  border-top: 1px solid gold;  
}

.message,
.message2 {
  color: black;
  padding: 1%;
  font-size: 100%;
}

.redSplash {
  background-color: rgba(255,0,0,.7)

}